/* Defaults */
#mpcth_import_wizard a {
	text-decoration: none;
}

/* WP Importer warning */
.mpcth-import-warning {
	display: inline-block;
	color: #ffffff;
	margin-top: 1em;
	background: #ff6600;
	padding: .5em .75em;
}

/* Demos previews */
#mpcth_demos {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}
#mpcth_demos li {
	vertical-align: top;
	/*font-style: italic;*/
	/*text-align: center;*/
	display: inline-block;
	margin: 0 25px 20px 0;
	width: 217px;
	font-size: 14px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mpcth_demos li a {
	position: relative;
	display: block;
	text-decoration: none;
	/*color: #666666;*/
}
#mpcth_demos li a .image-bg {
	display: block;
	background-position: center center;
	border: 1px solid #dddddd;

	opacity: .5;
	filter: alpha(opacity=50);
}
#mpcth_demos li a:hover .image-bg,
#mpcth_demos li.active a .image-bg {
	opacity: 1;
	filter: alpha(opacity=100);
}
#mpcth_demos li a .image-wrap {
	display: block;
	height: 145px;
	background-size: 100%;
	background-position: center 0;
}
#mpcth_demos li a:hover .image-wrap {
	background-position: center 100%;
}
#mpcth_demos li a .install-option {
	display: block;
	margin: 0;
}
#mpcth_demos li a:hover .install-option .dashicons:after {
	background: #ffffff;
}
#mpcth_demos li a .install-option .new {
	display: inline-block;
	font-style: normal;
	font-size: 10px;
	color: #ffffff;
	background: #945184;
	line-height: 1em;
	padding: .4em.5em;
	margin-left: 1em;
	border-radius: 3px;
	vertical-align: middle;
}

/* Options */
#mpcth_options {
	margin-bottom: 10px;
}

/* Import */
#mpcth_import {
	display: inline-block;
	padding: .5em .75em .55em;
	margin-bottom: 10px;
	line-height: 20px;
	background: #e9e9e9;
	color: #999999;
}
#mpcth_import.active {
	background: #945184;
	color: #ffffff;
}

#mpcth_import:hover + #mpcth_import_warning {
	opacity: 1;
	filter: alpha(opacity=100);
}
#mpcth_import.active:hover + #mpcth_import_warning {
	opacity: 0;
	filter: alpha(opacity=0);
}

/* Import success */
#mpcth_import_success {
	display: none;
	color: #ffffff;
	margin-right: 1em;
	background: #6fd500;
	padding: .5em .75em;
}
#mpcth_import_success .dashicons {
	margin: 0 .2em 0 -.1em;
}

/* Import process */
#mpcth_import_process {
	position: relative;
	display: none;
	color: #666666;
	margin-right: 1em;
	background: #fafafa;
	padding: .5em .75em;
}
#mpcth_import_process .spinner {
	display: inline-block;
	float: none;
	margin: 0 .5em 0 0;
	vertical-align: top;
}
#mpcth_import_process .step {
	display: none;
}
#mpcth_import_process.step-backup .step-backup {
	display: inline-block;
}
#mpcth_import_process.step-content .step-content {
	display: inline-block;
}
#mpcth_import_process.step-widgets .step-widgets {
	display: inline-block;
}
#mpcth_import_process.step-panel .step-panel {
	display: inline-block;
}

#mpcth_import_content_progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	background: #6fd500;
}

/* Import warning */
#mpcth_import_warning {
	display: inline-block;
	color: #ffffff;
	margin-left: 1em;
	background: #ff6600;
	padding: .5em .75em;

	opacity: 0;
	filter: alpha(opacity=0);
}
#mpcth_import_warning .dashicons {
	margin: 0 .2em 0 -.1em;
}

/* Install options */
#mpcth_import_wizard .install-option {
	background: #e9e9e9;
	display: inline-block;
	padding: .5em .75em .5em .5em;
	margin-right: 20px;
	margin-bottom: 10px;
}

/*#mpcth_import_wizard .option-extension {
	display: none;
	margin-left: -15px;
}
#mpcth_import_wizard .option-extension.active {
	display: inline-block;
}
#mpcth_import_wizard .option-extension .install-option {
	margin-left: 5px;
}*/

#mpcth_import_wizard .install-option .dashicons {
	position: relative;
	margin-right: .5em;
}
#mpcth_import_wizard .install-option .dashicons:before {
	position: relative;
	z-index: 2;

	visibility: hidden;
}
#mpcth_import_wizard .install-option .dashicons:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1em;
	height: 1em;
	background: #f5f5f5;
	z-index: 1;
}

#mpcth_import_wizard .install-option.active .dashicons:before {
	visibility: visible;
}
#mpcth_import_wizard .install-option.active .dashicons:after,
#mpcth_import_wizard .install-option:hover .dashicons:after {
	background: #ffffff;
}

#mpcth_import_wizard #mpcth_opt_media {
	display: none;
}
#mpcth_import_wizard #mpcth_opt_media.visible {
	display: inline-block;
}

/* Backups */
#mpcth_import_backups .mpcth-backup-info {
	margin: 0;
	padding: .25em 0;
	cursor: default;
}
#mpcth_import_backups .mpcth-backup-info.mpcth-no-backup {
	list-style: none;
	margin-left: -1em;
	display: none;
}
#mpcth_import_backups .mpcth-backup-info.mpcth-no-backup:first-child {
	display: list-item;
}
#mpcth_import_backups .mpcth-backup-info a {
	opacity: 0;
	margin-left: .5em;
}
#mpcth_import_backups .mpcth-backup-info:hover a {
	opacity: 1;
}
#mpcth_import_backups .mpcth-backup-info.active a {
	opacity: .25;
}

#mpcth_import_backups .mpcth-backup-info .spinner {
	float: none;
	margin: 0 0 0 1em;
	vertical-align: top;
	display: none;
}
#mpcth_import_backups .mpcth-backup-info.active .spinner {
	display: inline-block;
}

/* Other */
#mpcth_import_wizard .hide {
	display: none !important;
}
#mpcth_import_wizard .show {
	display: inline-block !important;
}

/* Transitions */
.move-longer {
	-webkit-transition: all 5s ease-out;
	-moz-transition: all 5s ease-out;
	-ms-transition: all 5s ease-out;
	-o-transition: all 5s ease-out;
	transition: all 5s ease-out;
}
.move-long {
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-ms-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: all 3s ease-out;
}
.move-medium {
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}
/*.move-short {*/
	/*-webkit-transition: all 1s ease-out;*/
	/*-moz-transition: all 1s ease-out;*/
	/*-ms-transition: all 1s ease-out;*/
	/*-o-transition: all 1s ease-out;*/
	/*transition: all 1s ease-out;*/
/*}*/
/*.move-quick {*/
	/*-webkit-transition: all .5s ease-out;*/
	/*-moz-transition: all .5s ease-out;*/
	/*-ms-transition: all .5s ease-out;*/
	/*-o-transition: all .5s ease-out;*/
	/*transition: all .5s ease-out;*/
/*}*/
/*.move-quick {*/
	/*-webkit-transition: all .5s ease-out;*/
	/*-moz-transition: all .5s ease-out;*/
	/*-ms-transition: all .5s ease-out;*/
	/*-o-transition: all .5s ease-out;*/
	/*transition: all .5s ease-out;*/
/*}*/
.move-quicker {
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}